{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="rounded-square-container">
        <div class="thecontent-itself">
        <p>Resolution: Width: {{numbers.number1}} Height: {{numbers.number2}}</p>
        <p>Group Name: {% if group_name %}{{ group_name }}{% else %}Not assigned{% endif %}</p>
        <form method="post" enctype="multipart/form-data" class="uploading-form">
        {% csrf_token %}
        <input type="file" name="image" multiple>
        <button type="submit" class="button2">Upload</button>
        </form>
        {% for item in items %}
            <div class="item">
                <a href="{{ item.image.url }}" data-title="{{ item.image }}">
                    {% if item.thumbnail %}
                        <img src="{{ item.thumbnail.url }}" class="rounded-thumbnail" alt="{{ item.image }}">
                    {% else %}
                        <img src="{{ item.image.url }}" class="rounded-thumbnail" alt="{{ item.image }}">
                    {% endif %}
                </a>
                <p>{{ item.image }} <span style="color:gray;">[{{ item.file_size }}]</span> ({{ item.resolutiontxt }})
                <a href="{% url 'download_image' item.id %}"><button type="button">Download</button></a></p>
            </div>
        {% endfor %}
        <p></p>
        <a href="/nuke"><button type="button">Clean everything</button></a>
        <a href="/number_input"><button type="button">Change resolution</button></a>
        <a href="/group_name"><button type="button">Set the group name</button></a>
        <a href="/download_all_images"><button type="button">Download everything ZIP</button></a>
        <button type="button" onclick="downloadAllImages()">Download everything</button>
        <script>
        function downloadAllImages() {
            // List of image download URLs (Django template code)
            const urls = [
                {% for item in items %}
                    "{% url 'download_image' item.id %}",
                {% endfor %}
            ];
            urls.forEach(url => {
                const a = document.createElement('a');
                a.href = url;
                a.download = '';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            });
        }
        </script>
        <a href="/convert_all_images_to_jpg"><button type="button">Convert All to JPG</button></a>
        <a href="/convert_all_images_to_png"><button type="button">Convert All to PNG</button></a>
        </div>    
        </div>
    </body>
</html>