/* Basic CSS for index.html */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rounded-square-container {
    width: 100vw; 
    height: 100vh;
    border: 2px solid #333; /* Optional: Add a border for visibility */
    border-radius: 20px; /* Adjust this value to control the roundness of the corners */
    background-color: #e1e1e1; /* Optional: Add a background color */
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
    overflow: hidden; /* Important if content might extend beyond rounded corners */
    overflow-y: auto;
    border: 1px solid #ccc;
    overflow-x: auto;
}

.uploading-form {
    background-color:#ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.thecontent-itself {
    margin: 2vh;
    justify-self: center;

}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 1.5em;
}

a {
    color: #007acc;
    text-decoration: none;
    box-shadow: none;
}
a:hover {
    text-decoration: underline;
}

button {
    color:#000000;
    border: #ffffff;
    border-radius: 9px;
    background-color: #ffffff;
    padding: 2px;
    padding-inline: 20px;
    padding-block: 20px;
    box-shadow: none;
    margin-right: 3px;
    margin-left: 3px;
}

.button2 {
    color:#000000;
    border: #ffffff;
    border-radius: 9px;
    background-color: #ffffff;
    padding: 2px;
    padding-inline: 20px;
    padding-block: 20px;
    box-shadow: none;
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid #000000;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}
.rounded-thumbnail {
    max-width: 100px;
    max-height: 100px;
    border-radius: 9px;
}

.scrollerJIOJIOIOJIJIO {
    background-color: #007acc;
}


